.container {
  display: flex;
  padding-top: 10rem;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  margin: 0 1.5rem;
}

.content {
  display: flex;
  margin: 2rem 0;
  align-items: center;
}

.imgAbout {
  max-width: 40vw;
  max-height: 80vh;
  border-radius: 35%;
  overflow: hidden;
}

.textAbout {
  display: flex;
  flex-direction: column;
  text-align: justify;
  max-width: 50vw;
  margin-left: 2rem;
  gap: 1.5rem;
}

.textAbout h4 {
  text-align: center;
}

@media screen and (max-width: 600px) {

  .container {
    padding-top: 8rem;
  }

  .content {
    flex-direction: column;
    width: 100%;
  }

  .imgAbout {
    max-width: 90vw;
  }

  .textAbout {
    max-width: 98vw;
    margin-left: 0;
  }
}