.container {
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--clr-white);
  box-shadow: 1px 1px 10px var(--clr-white);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 1rem;
  width: 40vw;
  gap: 1.5rem;
}

.form h2 {
  text-align: center;
}

.form input, textarea {
  height: 35px;
  background: transparent;
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: 0.5s;
}

.form textarea {
  height: 10rem;
}

.form input[type="submit"] {
  font-size: 1.5rem;
  height: 50px;
}

.form input[type="text"]:focus,
input[type="email"]:focus, 
textarea:focus {
  border-bottom: 4px solid var(--clr-light);
  box-shadow: 0 4px 4px -10px var(--clr-light);
  
}

.form input[type="submit"]:hover {
  background: var(--clr-medium);
  transition: 0.5s;
}