.footer {
  width: 100%;
  margin-top: 17rem;
}

.footercontainer {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 20px;
}

.left,
.right {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
}

.right h4 {
  text-align: center;
}

.icon {
  height: 30px;
  width: auto;
  color: var(--clr-light);
  margin-right: 2rem;
}

.location p {
  line-height: 30px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.footer-container h4 {
  padding-bottom: 1rem;
}

.footercontainer p {
  text-align: justify;
}

.phone,
.email,
.home,
.instagram {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.instagram a, 
.email a {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .footer {
    margin-top: 5%;
  }

  .footercontainer {
    grid-gap: 0 1rem;
  }

  .left,
  .right {
    padding: 0 1rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  
  .footer{
    margin-top: 1%;
  }

  .footercontainer {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .left,
  .right {
    padding-bottom: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  
  .footer{
    margin-top: 0;
  }
}