.footer {
  width: 100%;
  padding: 6rem 0;
}

.footercontainer {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.left,
.right {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.icon {
  height: 20px;
  width: auto;
  color: var(--clr-light);
  margin-right: 2rem;
}

.location p {
  line-height: 30px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.footer-container h4 {
  padding-bottom: 1rem;
}

.footercontainer p {
  text-align: justify;
}

.phone,
.email,
.home {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .footercontainer {
    grid-template-columns: 1fr;
  }
}
