.container {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem;
  gap: 2rem;
}

.content {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 1.5rem;
}

.text {
  text-align: justify;
  gap: 1rem;
  max-width: 50vw;
}

.text h4 {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 40px;
}



@media screen and (max-width: 800px) {
  .content {
    flex-direction: column;
  }

  .text {
    max-width: 95vw;
  }
}